body {
	/* background-image: url(""); */
	background-color: ;
	font-size: 87.5%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	color: white;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
	color:#BC8F8F;
}

.maincontent {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.content {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}



/* --------------navigatie balk + het logo----------- */ 
.mainheader img {
	height: auto;
	width: 50%;
	margin: 0 25%;
	border-radius: 0px;
}


.mainheader nav {
	background-color: #00FFAD;
	height: 48px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px; 
}

.mainheader nav ul {
	list-style: none;	
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

a {
	text-decoration: none;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	height: 28px;
	
	transition: background-color 0.2s;
	-webkit-transition: background-color 0.3s;
}

.mainheader nav a:hover, .mainheader  nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #996699;
	text-shadow: none;
	/*border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; */
}

.mainheader nav ul li a {
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; */
	
	
}
/*----- einde navigatie balk + logo----------- */



/*---------------------------------------------------------------------------*/

/*--- Home Begin ---*/
 #myPhoto{
	width:80%;
	height: 80%;
	margin-left: 10%; /* let op losse img moet nog veranderd worden!!!!!<< veroorzaakt error let op!*/
}


/*--- Home Einde ---*/

/*--- algemene Informatie Begin ---*/
.algemene_informatie {
	color: black;
	
}

.alcont {
	width: 100%;
	background-color: #F8F8F8;
	height:auto;
	border-radius: 5px;
}
/*--- algemene Informatie Einde ---*/

/*--- Agenda Begin ---*/

/*--- Agenda Einde ---*/

/*--- Film Begin ---*/
.filmheader {
	text-align: center;
}

.container1 {
	margin: 3% 0;
	width: 94%;
	border: 1px solid #D0D0D0;
	height: auto;
	background-color: #F8F8F8  ;
	border-radius: 5px;
	text-align: center;
	padding: 3%;
	
}

.moviebox {
	boder: 1px solid black;
	width: 130px;
	height: 202.5px;
	
}

.moviebox img {
width: 130px;
height: 200px;
position: relative;
right: 13px;

}

.filmcont {
	/*border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-top: 1px solid blue; */
	width: 130px;
	height: 200px;
	display: inline-block;
	margin-left: 5%;
	margin-top: 3%;
	margin-right: auto;
	
	
	box-shadow: 5px 5px 20px black;	
	transition: transform 1s; 	
}



.filmcont:hover {
	transform: scale(1.1,1.1); 
}

.filmcont:hover .res a:link, a:visited {
	background-color: #996699;
	border-radius: 4px;
	color: white;
}

.res {	
	text-align: center ;
	transition: color 0.5s, background-color 0.5s;
	-webkit-transition: color 0.5s, background-color 0.5s;
	-moz-transition:  color 0.5s, background-color 0.5s; 
}

.res a:link, a:visited {
	
	border-radius: 4px;
	color: black;
	padding: 3px;
	background-color: #00FFAD;
	
	transition: color 0.5s, background-color 0.5s;
	-webkit-transition: color 0.5s, background-color 0.5s;
	-moz-transition:  color 0.5s, background-color 0.5s; 
}

.button {
	margin-top: 1%;
	
	width: 60px;
	height: 22px;
	/*background-color: red; */
	text-align: center;
	border-radius:10px;
	display: inline-block;
}

.navbar2 ul li {
	display: inline;
	padding: 1%;
	font-size: 20px;
	text-align: center;
	color: white;
	
}

.navbar2 ul li a:link, a:visited {
	padding: 4px;
	color: white;
}

.navbar2 {
	color: white;
	margin: auto;
	padding-left: 35%;
}

.bar2l {
	background-color:  #00FFAD;
	border-radius: 3px;
	text-align: center;
	margin: auto;
	padding-top: -20px;
		
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;	
}

.toptext {
	font-size: 40px;
	text-align: center;
	margin: auto;
	padding-top: -20px;
		
}

.bar2l:hover {
	background-color: #996699;
}

.topbox {
	background-color: #00FFAD;
	width: 50%;
	margin: auto;
	border-radius: 5px;

}

/*--- Film Einde ---*/

/*--- Acties Begin ---*/
/* -----------------------------------Elize-------------------------------*/
/*hier staat de inhoud van de acties/pagina. Dit is dus het midden van de pagina.*/

.contentActies {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #996699;
	text-align: center;
	margin-top: 40px;
	height: 250px;
	color: #fff;
	margin-bottom:40px;	
}

#ActiesImg {
	width: 100%;
	margin-bottom: 0px;
}


#SlideActies {	
	width: 20%;
	height: 100%;
	margin: auto;
	margin-top: 0px;

}

.SlideKnoppen {
	height:100%;
	float:left;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #00FFAD;
	margin-top: 0px;
}

.SlideKnoppen:hover{
	background-color: #996699;
}

#Knoppenbalk {
	width:100%;
	background-color: #00FFAD;
	height: 15%;
}


}
/* -----------------------------------Elize-------------------------------*/
/*---Acties Einde ---*/

/*--- Lounge Begin ---*/

/*---Lounge Einde ---*/

/*---Specificaties Begin ---*/

/*---Elize---*/
.contentSpecificaties{
	color: white;
	background-color: #996699;
	padding-top: 5px;
	margin-top: 10px;


}
.contentSpecificaties h1{
	margin: 30px;

}

.contentSpecificaties p{
	margin: 30px;

}
.contentSpecificaties a{
	
	color: white;
	text-decoration: none;

}

/*---Specificaties Eind ---*/

/*--- Contact Begin ---*/
/* Contact formulier */

#form-wrap{
	width: 60%;
	border: 3px solid #3D003D;
	background-color: #993D3D;
	margin: 5% auto;
	padding:10% 0;
}

form{
	width: 75%;
	margin: 0 auto;
}

h4{
	color:#524E53;
	font: 24px sans-serif;
	margin: 2% 0 0 2%;
	font-weight: bold;
}

label{
	display:block;
	margin: 2% 0 0 2%;
	font: 16px sans-serif;
	color: #524E53;
}

input{
	width: 50%;
	margin: 0 0 0 2%;
}

textarea{
	width: 75%;
	margin: 0 0 0 2%;
	height: 75px;
}

fieldset{
	background-color:#E6E6FF;
	padding: 0 0 20px 0;
}

/* einde contact formulier */
/*---Contact Einde ---*/

/*--- Reserveren Begin ---*/
/* Reserveringstartpagina*/

.Reserverenstart{
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#00FFAD;
	text-align: center;
	margin-top: 40px;
	height: 400px;
	color: #fff;

	
}
/* dit zorgt ervoor dat de invoervakken een bepaalde grootte hebben, namelijk 15px*/
#div_AanmeldenOFInloggen input{
	width: 150px;


}
/*---Reserveren Einde ---*/

/* tablet & kleinere schermen */
/*-----------------------------------------------------------------------------------------------------*/	
@media only screen and (min-width: 150px) and (max-width: 1090px) 
{
	.mainheader nav {
	height: 48px;
	}
	
	.body {
		margin: 0 auto;
		width: 90%;
		clear: both;
		font-size: 95%;
	}
	
	.mainheader nav ul li {
		text-align: center;
	}
	
	.filmcont {
		margin-left: 7%;
	}
	
	.topbox {
	background-color: #00FFAD;
	width: 50%;
	margin-left: 25%;
	border-radius: 5px;
	}
	
	.navbar2 {
	padding-left: 35%;
	
}
	

	/* mobiele versie */
/*-----------------------------------------------------------------------------------------------------*/	
@media only screen and (min-width: 150px) and (max-width: 880px) 
{
	.mainheader nav {
		height: 335px;
	}
	
	.mainheader nav ul {
		padding-left: 0;
	}

	.mainheader nav ul li {
		width:100%;
		margin: 0 auto;
		text-align: center;
	}

	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 10px 25px;
		height: 28px;
		display: block;
	}
	
	.filmcont {
		margin-left: 12%;
	}
	
	.navbar2 {
	
	
	margin-right: 10%;
	padding-right: 5%;
	}

	.contentSpecificaties img{
	display:none;
}





}	
@media only screen and (min-width: 150px) and (max-width: 600px) {

	.navbar2 {
	margin:auto;
	padding-left: 18%;	
	
	
	}

}

