body {
	/*background-image: url("A the wave.jpg");*/
	background-color:  ;
	font-size: 87.5%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	color: white;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear: both;
	color:white;
}

.maincontent {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	
}

.content {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
}



/* --------------navigatie balk + het logo----------- */ 
.mainheader {
background-image: url("A the wave.jpg");
}


.mainheader img {
	height: auto;
	width: 50%;
	margin: 0 25%;
	border-radius: 0px;
}


.mainheader nav {
	background-color: #d25a05;
	height: 48px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px; 
}

.mainheader nav ul {
	list-style: none;	
	margin: 0 auto;
}

.mainheader nav ul li {
	float: left;
	display: inline;
}

#balk_home{
	margin-left: -40px;
}
/*---Begin Zoekbalk */

.mainheader nav ul li div form {
	float: left;
	display: inline;
	width: 90px;
	margin-top: -2px;
}

#search {
	margin-top: 5px;
	width: 70px;
}

#submit {
	width: 72px;
}

/*---Eind Zoekbalk---*/

a {
	text-decoration: none;
}

.mainheader nav a:link, .mainheader nav a:visited {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	height: 28px;
	
	transition: background-color 0.2s;
	-webkit-transition: background-color 0.3s;
}

.mainheader nav a:hover, .mainheader  nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #4b4c46;
	text-shadow: none;
	/*border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; */
}

.mainheader nav ul li a {
	/*border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; */
	
	
}
/*----- einde navigatie balk + logo----------- */



/*---------------------------------------------------------------------------*/

/*--- Home Begin ---*/
 #myPhoto{
	width: 100%;
	height: 120%;
	border-radius: 25px;
	border: 2px solid black;
}

.contentHome{
	width: 63%;
	height: 350px;
	float: right;
}

#FotoActie{
	margin-top: 10%;
	width: 80%;
	height: 75%;
}

/* begin agenda home */

.agendaHome{
	color: #B8B894;
	background-color: #fff;
	width: 36%;
	height: 80%;
	float: left;
	margin-top: 4%;
} /* buttons */


.HomeA{
	color: #B8B894;
	border: 1px solid black;
	width: 35%;
	margin-top: 2%;
	height: 60%px;
}

#Tagenda{
	color: #B8B894;
}	

#td1{
	color: #B8B894;
	font-size: 20px;
	text-align: center;
	border-top: 1px dotted black;
}

#td2{
	color: #FF4500;
	font-size: 20px;
	border-top: 1px dotted black;
}

#td3{
    color: #B8B894;
	font-size: 20px;
	border-top: 1px dotted black;
}

#td4{
	color: #B8B894;
	font-size: 20px;
	border-top: 1px dotted black;
}

#tr5{
	color: #B8B894;
	font-size: 20px;
	border-top: 1px dotted black;
}

#tr6{
	text-align: center;
	color: #B8B894;
	font-size: 28px;
}


/* einde agenda home */

/* begin top 10 */

.topTien{
	margin-top: 2%;
	
	height: 45%;
	width: 50%;
	
}

#tb10{
	border: 1px solid black;
	width: 80%;
}

#tr9{
    color: #FF0000;
	text-align: center;
	font-size: 24px;
}

#tr10{
	color: #B8B894;
	font-size: 18px;
	border-top: 1px solid black;
	border-collapse: collapse;
} 

#td01{
	color: #B8B894;
	font-size: 18px;
	border-top: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

#td02{
	color: #B8B894;
	font-size: 18px;
	border-top: 1px solid black;
	border-collapse: collapse;
}



/* einde top 10 */


/*--- Home Einde ---*/

/*--- algemene Informatie Begin ---*/


.alcont {
	color: white;
	background-color: #d25a05;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.alcont h1 {
	margin: 30px;
}
.alcont h3 {
	margin: 30px;
}

.alcont p {
	margin: 30px;
}

/*--- algemene Informatie Einde ---*/

/*--- Agenda Begin ---*/
.topbox2 {
	background-color: #d25a05;
	width: 100%;
	margin: 55px auto;
	border-radius: 5px;
	position: relative;
	bottom: 25px;

}

.toptext2 {
	font-size: 30px;
	text-align: center;
	margin: auto;
	padding-top: -20px;
		
}

.topbox2 a{
	color: white;
	padding-left: 15px;
	margin-left: 4%;
	margin-right: 4%;
	padding-right: 15px;
	font-size: 20px;
	padding-top:4px;
	padding-bottom:4px;
	
	
	
	
	transition: background-color 0.4s;
	-webkit-transition: background-color 0.4s;
	}

	
.topbox2 a:hover{
	background-color: #4b4c46;
	}

.topbox3 {
	
	background-color: #d25a05;
	position: relative;
	
	text-align: center;
	width: 50%;
	margin: auto;
	top: 25px;
}

.topbox3 p{
	font-size: 30px;
	position: relative;
	top: -2px;
}

.abox {
	heigt: auto;
	width: 150px;
	background-color: #F8F8F8;
	border: 1px solid #D0D0D0;
	color: black;
	display: inline-block;
	margin-left: 5%;
	margin-top: 2%;
	margin-right: 1%;
	position:relative; 
	right: 20px;
	
}

.abox p { 
	text-align: center;
}

.abox img {
	
	margin: auto 0;
	position: relative;
	bottom: 10px;
	
	box-shadow: 0px 0px 20px black;	
	transition: transform 0.7s; 	
}

.abox img:hover{
	transform: scale(1.1,1.1); 
}

.atijd {
	position: relative;
	bottom: 10px ;
	padding: 2px;
	/*background-color:  #F8F8F8; */
	text-align: center;
	color: white;
	}

.atijd a:link {
	background-color: #00FFAD;
	display: block;
	position: relative;
	top: 5px;
	padding: 5px;
	color:white;
	
	
	transition: background-color, 0.5s;
	transition: transform 0.3s; 	
	}
.atijd a:hover{
	background-color: #4b4c46;
	transform: scale(1.1,1.1); 
}

.atijd .active1 {
	background-color: #996699;
}	

#toggle1 {
	padding: 2px;
	background-color:  #00FFAD;
	text-align: center;
	color: white;
	
}
#atijd1 {
	display:none;
}

.container2 {
	margin: 3% 0;
	width: 94%;
	border: 1px solid #D0D0D0;
	height: auto;
	background-color: #F8F8F8  ;
	border-radius: 5px;
	text-align: center;
	padding: 3%;
	position: relative;
	bottom: 80px;
	
}




/*--- Agenda Einde ---*/

/*--- Film Begin ---*/
.filmheader {
	text-align: center;
}

.container1 {
	margin: 3% 0;
	width: 94%;
	border: 1px solid #D0D0D0;
	height: auto;
	background-color: #F8F8F8;
	border-radius: 5px;
	text-align: center;
	padding: 3%;
}

.moviebox {
	boder: 1px solid black;
	width: 158px;
	height: 202.5px;
	
}

.moviebox img {
width: 130px;
height: 200px;
position: relative;
right: 13px;

}

.filmcont {
	/*border-left: 1px solid blue;
	border-right: 1px solid blue;
	border-top: 1px solid blue; */
	width: 130px;
	height: 200px;
	display: inline-block;
	margin-left: 5%;
	margin-top: 3%;
	margin-right: auto;
	
	
	box-shadow: 5px 5px 20px black;	
	transition: transform 1s; 	
}



.filmcont:hover {
	transform: scale(1.1,1.1); 
}

.filmcont:hover .res a:link, a:visited {
	background-color: #4b4c46;
	border-radius: 4px;
	color: white;
}

.res {	
	text-align: center ;
	transition: color 0.5s, background-color 0.5s;
	-webkit-transition: color 0.5s, background-color 0.5s;
	-moz-transition:  color 0.5s, background-color 0.5s; 
}

.res a:link, a:visited {
		
	border-radius: 4px;
	color: black;
	padding: 3px;
	background-color: #d25a05;
	
	transition: color 0.5s, background-color 0.5s;
	-webkit-transition: color 0.5s, background-color 0.5s;
	-moz-transition:  color 0.5s, background-color 0.5s; 
}

.button {
	margin-top: 1%;
	
	width: 60px;
	height: 22px;
	/*background-color: red; */
	text-align: center;
	border-radius:10px;
	display: inline-block;
}

.navbar2 ul li {
	display: inline;
	padding: 1%;
	font-size: 20px;
	text-align: center;
	color: white;
	
}

.navbar2 ul li a:link, a:visited {
	padding: 4px;
	color: white;
}

.navbar2 {
	color: white;
	margin: auto;
	padding-left: 35%;
}

.bar2l {
	background-color:  #d25a05;
	border-radius: 3px;
	text-align: center;
	
	padding-top: -20px;
		
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;	
}

.toptext {
	font-size: 40px;
	text-align: center;
	margin: auto;
	padding-top: -20px;
		
}

.bar2l:hover {
	background-color: #4b4c46;
}

.topbox {
	background-color: #d25a05;
	width: 50%;
	margin: auto;
	border-radius: 5px;

}


/*--- aparte film Einde ---*/
.filmp {
	width: 200px;
	height: 300px;
	background-color: none;
	float: left;
	margin-left: 13%;
	margin-top: 10px;
	border: 0px solid black;
	box-shadow: 2px 2px 20px black;
}

.trailerbox {
	width: 50%;
	height: 300px;
	background-color: none;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.trailerbox embed {
	width:100%;
	height:300px;
}

.infobox {
	width: 78%;
	height: auto;
	background-color: rgba(128,128,128,0.5)  ;
	float: left;
	margin-left: 10%;
	margin-top: 10px;
	box-shadow: 1px 1px 20px black;
	border-radius: 5px;
	border: 1px solid #808080;
	
}

.infobox span { 
	color: #751975;
}

.infobox h1 { 
	padding-bottom: -10px;
}

.boxtop {
	display: block;
	
}

	.boxbottom {
		display: block;
		position: relative;
	}


.ReserverenKnopFilms {
	background-color:#996699; 
	padding: 1%; widht: 10px; 
	float:left; 
	border-radius:5px; 
	margin:1%;
	
	
}
/*--- aparte film Einde ---*/
/*--- Film Einde ---*/

/*--- Acties Begin ---*/
/* -----------------------------------Elize-------------------------------*/
/*hier staat de inhoud van de acties/pagina. Dit is dus het midden van de pagina.*/

.contentActies {
	width: 100%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	text-align: center;
	margin-top: 20px;
	height: 500px;
	color: #fff;
	margin-bottom:40px;	
}

#ActiesImg {
	height: 126%;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}


#SlideActies {	
	width: 20%;
	height: 100%;
	margin: auto;
	margin-top: 0px;

}

.SlideKnoppen {
	height:100%;
	float:left;
	padding-left: 2%;
	padding-right: 2%;
	background-color: #d25a05;
	margin-top: 0px;
}

.SlideKnoppen:hover{
	background-color: #00FFAD;
}

#Knoppenbalk {
	width:100%;
	background-color: #d25a05;
	height: 10%;
	margin-bottom: 20px;
}

#Startknop {
	display: none;

}

.DivMobieleVersieActies{
	display: none;
	width: 90%;
	color: white;
	background-color: #d25a05;
	height: 50px;
}




/* -----------------------------------Elize-------------------------------*/
/*---Acties Einde ---*/

/*--- Lounge Begin ---*/
.contentLounge {
	color: white;
	background-color: #d25a05;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	height:800px;
	background-image: url('loungeachtergrond.jpg');
	background-repeat: no-repeat;
}

.contentLounge h1 {
	margin: 30px;
}

.contentLounge p {
	margin: 30px;
}

.contentLoungetekst{
	width:500px;
	float: left;
	padding:5px;
	padding-right: 700px;
}

.cocktails {
	float: left;
	padding: 30px;
	font-family: Segoe Script;
	font-size: 16px;
}

.cocktailprijzen {
	float: left;
	padding: 30px;
	font-family: Segoe Script;
	font-size: 16px;
	margin-top: 55px;
}





/*---Lounge Einde ---*/

/*---Specificaties Begin ---*/

/*---Elize---*/
.contentSpecificaties{
	color: white;
	background-color: #d25a05;
	padding-top: 5px;
	margin-top: 20px;
	margin-bottom: 20px;


}
.contentSpecificaties h1{
	margin: 30px;

}

.contentSpecificaties p{
	margin: 30px;
	

}
.contentSpecificaties a{
	color: white;
	text-decoration: none;

}

.SpecificatiesIMG {
	width:70%;
	margin-left:15%;
}


/*---Specificaties Eind ---*/

/*--- Contact Begin ---*/

.contact {
	color:black;
}

#contacttekst {
	border: 3px solid #3D003D;
	width: 35%;
	margin: 5% auto;
	float: left;
	padding:5px;
}

/* Contact formulier */


#form-wrap{
	width: 60%;
	border: 3px solid #000;
	background-color: #FF944D;
	margin: 5% auto;
	padding:10% 0;
	float: right;
}

form{
	width: 90%;
	margin: 0 auto;
}


label{
	display:block;
	margin: 2% 0 0 2%;
	font: 16px sans-serif;
	color: #524E53;
}

input{
	width: 50%;
	margin: 0 0 0 2%;
}

textarea{
	width: 75%;
	margin: 0 0 0 2%;
	height: 75px;
}

fieldset{
	background-color:#FF944D;
	padding: 0 0 20px 0;
}

#googlemaps_contactpagina {
	position: relative;
}

/* einde contact formulier */
/*---Contact Einde ---*/



/*--- Reserveren Begin ---*/
/* Reserveringstartpagina*/



/*De stylesheet van de reserveringspagina is verplaatst naar Reserveren.html.
Dit in verband met te weinig ruimte op de pagina. */ 













/*---Reserveren Einde ---*/




/*---Footer---*/

#div_adresFooter{
	color:#FFF;
	font:18px solid;
	float: left;
	border: 1px solid black;
	width: 30%;
	margin: 0 5% 5% 25px;
	background-color:#1669E6;
	position: relative;
	bottom: 25px;
}

#navigatie_1{
	color:#FFF;
	font: 18px solid;
	float: left;
	border: solid black;
	width: 25%;
	height: 100px;
	margin: 0 5% 5% 0;
	background-color:#1669E6;
	text-align: left;
	position: relative;
	bottom: 12px;
}

#navigatie_1 ul{
	list-style: none;
	text-align: left;
}

#navigatie_2{
	color:#FFF;
	float: left;
	font:18px solid;
	border: solid black;
	width: 26%;
	margin: 0% 5% 5% 0;
	text-align: left;
	background-color:#1669E6;
	position: relative;
	bottom: 25px;
	height: 150px;	
}
#navigatie_2 ul{
	list-style: none;
	text-align: left;
}


.FooterAll {
	bottom:0;
	width: 100%;
	height: 80px;
	background-color: #d25a05;
	margin-top:2%;
	border: 1px solid black;
}




/*--vacatures--*/
#Vacatures h1{
	color:#000; 
	text-align: center;
	font-size: 36px;
	font-family: Ariel;
}
#Vacatures p{
	color:#000; 
	text-align: center;
	font-size: 18px;
	font-family: Ariel;
}
#Vacatures{
	margin-top: 5%;
	margin-bottom: 10%;
}

/*--vacatures einde--*/

/*--- Medewerkers ---*/
#Medewerkers h1{
	color:#000; 
	text-align: center;
	font-size: 36px;
	font-family: Ariel;	
}
#Medewerkers h3{
	color: #000;
	text-align: center;
	font-size: 30px;
	font-family: Ariel;
}

#Medewerkers p{
	color:#000; 
	text-align: center;
	font-size: 18px;
	font-family: Ariel;
}
#Medewerkers{
	margin-top: 5%;
	margin-bottom: 10%;
}


/*--- Medewerkers einde ---*/

/*---Educatief ---*/
#Educatief h1{
	text-align: center;
	color: #000;
	font-size: 28px;
	font-family: Ariel;
}

#Educatief p{
	text-align: center;
	color: #000;
	font-size: 20px;
	font-family: Ariel;
}

#cjp{
	text-align: center;
	color: #000;
	font-size: 20px;
	font-family: Ariel;
	
}


/* einde Educatief */



/*---Footer Einde---*/


/* tablet & kleinere schermen */
/*-----------------------------------------------------------------------------------------------------*/	
@media only screen and (min-width: 150px) and (max-width: 1090px)  {

	.mainheader nav {
	height: 48px;
	}
	
	.body {
		margin: 0 auto;
		width: 90%;
		clear: both;
		font-size: 95%;
	}
	
	.mainheader nav ul li {
		text-align: center;
	}
	
	.filmcont {
		margin-left: 7%;
	}
	
	.topbox {
		background-color: #00FFAD;
		width: 50%;
		margin-left: 25%;
		border-radius: 5px;
	}
	
	.navbar2 {
	padding-left: 35%;
	}

	.trailerbox {
	display: block;
	padding-left: 25%;
	}
	
	.filmp {
		margin-left: 40%;
	}


	#Knoppenbalk {
		width:100%;
		background-color: #d25a05;
		height: 9%;
		margin-bottom: 20px;
	}
	
	#ActiesImg {
	width: 100%;
	
	}

}


	/* mobiele versie */
/*-----------------------------------------------------------------------------------------------------*/	
@media only screen and (min-width: 150px) and (max-width: 880px) {

	.mainheader nav {
		height: 384px;
	}
	
	.mainheader nav ul {
		padding-left: 0;
	}

	.mainheader nav ul li {
		width:100%;
		margin: 0 auto;
		text-align: center;
	}

	.mainheader nav a:link, .mainheader nav a:visited {
		padding: 10px 25px;
		height: 28px;
		display: block;
	}
	
	.filmcont {
		margin-left: 12%;
	}
	
	.navbar2 {
		margin-right: 10%;
		padding-right: 5%;
	}

	.contentSpecificaties img{
		display:none;
	}

	.trailerbox {
		display: block;
		padding-left: 80px;
		widht: 400px;
	}

	.trailerbox embed {
		width:480px;
		height:300px;
		
	}

	.filmp {
		margin-left: 32%;
	}


	.topbox3 {
		height: 40px;
	}

	.contentActies {
		display:none;

	}

	
	.DivMobieleVersieActies {
		display: block;
		width: 100%;
		color: white;
		background-color: #996699;
		height: 100%;
	}

	.topbox3 p {
		position: relative;
		bottom: 50px;
	}

}	
@media only screen and (min-width: 601px) and (max-width: 799px) {
	.trailerbox embed {
		width:400px;
		height:300px;
		position: relative;
		right: 30px;
	}

}
@media only screen and (min-width: 150px) and (max-width: 600px) {

	.navbar2 {
		margin:auto;
		padding-left: 18%;	
	}
	
	.trailerbox {
		display: block;
		padding-right: 150%;
		widht: 400px;
	}

	.trailerbox embed {
		width:300px;
		height:300px;
		position: relative;
		right: 100px;
	}
	
	.infobox {
		width: 84%;
	}

	.DivMobieleVersieActies {
		display: block;
		width: 100%;
		background-color: #996699;
		height:100%;
	}
	
	.filmp {
		margin-left: 15%;
	}


}

